<%- include('./header') %>
<%- include('./navbar') %>


<div class="container mt-5 ">
  
   
  
        <div class="card mt-3">
            <div class="card-body">
                <form action="/routes/comment/edit/<%=_id%>/<%=blogId%>" method="POST">   
        <textarea name="content" cols="10" rows="5" class="form-control mt-3" placeholder="enter comment here..." required><%=content%></textarea>
                        
                        <input type="submit" value="Save Changes " class="mt-5 btn btn-md btn-danger">
                </form>
            </div>
        </div>
        
    
  
</div>




<%- include('./footer') %>  